.analyzed-text{
	margin: 10px;
}

.word-button {
	color: var(--shadow-blue);
	background: none;
	padding: 5px;
}

.word-button:hover{
	background: var(--yellow);
}

.word-button:focus{
	background: var(--pink);
}

.lookup-paragraph{
	margin: 10px;
	background: rgba(195, 205, 232, 0.47);
}

.translate-button{
	width: 30px;
	height: 30px;
	background: none;
	font-size: 12px;
	padding: 0px;
}

.translate-icon{
	vertical-align: text-bottom;
	filter: drop-shadow(4px 2px 2px var(--shadow-blue));
}

.translate-icon-invisible{
	display: none;
}

.translation-loading {
	font-family: var(--font-space-mono);
	color: var(--yellow);
	background: var(--shadow-blue);
	padding: 5px;
}

.translation-result {
	font-family: var(--font-space-mono);
	background: var(--shadow-blue);
	color: var(--yellow);
	padding: 5px;
}
