.analyzed-text{
	margin: 0px 10px 10px 10px;
}

.word-button {
	color: var(--shadow-blue);
	background: none;
	padding: 5px;
}

.word-button:hover{
	background: var(--yellow);
}

.word-button:focus{
	background: var(--pink);
}

.lookup-paragraph{
	position: relative;
	margin: 0px 10px 10px 10px;
	background: var(--paragraph-blue); 
}

.analysis-container{
	display: flex;
	align-items: space-evenly;
}
