.cta h2 {
	width: fit-content;
	margin: 5px auto 25px auto;
	color: var(--yellow);
	animation: bounce 8s ease-in-out infinite;
}

@keyframes bounce {

	0%,
	10%,
	20% {
		transform: translateY(0);
	}

	5%,
	15% {
		transform: translateY(-5px);
	}
}
