/*
Source - https://stackoverflow.com/a
Posted by touko, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-29, License - CC BY-SA 3.0
*/


.suspense-paragraph{
	margin: 10px;
	background: rgba(195, 205, 232, 0.47);
}

