.text-form {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 80%;
}

.text-box {
	height: 80vh;
	width: 100%;
	max-width: 1000px;
	border: none;
	filter: drop-shadow(4px 2px 2px var(--shadow-blue));
	padding: 10px;
	resize: none;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: var(--font-noto-sans), sans-serif;
	font-weight: 300;
}

.text-box:focus {
	filter: drop-shadow(16px 8px 8px var(--shadow-blue));
	outline: none;
}

.analyze-button-container {
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 50px;
}

