.topbar-container{
	position: sticky;
	z-index: 100;
	background: var(--sky-blue);
	top: 0;
	padding: 10px 0px 20px 0px;
}

.topbar-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
	margin-left: 20px;
}

.title-text {
	margin-right: 20px;
	display: flex;
	align-items: center;
	position: relative;
	height: 100%;
}

.subtitle-text {
	padding-top: 10px;
}

.title-text h1 {
	display: flex;
	position: relative;
	height: fit-content;
}

p {
	color: var(--white);
}
