.translate-button{
	width: 30px;
	height: 30px;
	background: none;
	font-size: 12px;
	padding: 0px;
}

.translate-icon{
	vertical-align: text-bottom;
	filter: drop-shadow(4px 2px 2px var(--shadow-blue));
}

.translate-icon-invisible{
	display: none;
}

.translation-loading {
	font-family: var(--font-space-mono);
	color: var(--yellow);
	background: var(--shadow-blue);
	padding: 5px;
}

.translation-result {
	position: relative;
	font-family: var(--font-space-mono);
	background: var(--shadow-blue);
	color: var(--yellow);
	padding: 5px;
}

.translation-result::before {
	content: '';
	position: absolute;
	top: -10px;
	left: var(--arrow-left, 20px);
	transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid var(--shadow-blue);
}
