.word-button {
	font-family: var(--font-noto-sans), sans-serif;
	font-weight: 400;
}

h2 {
	color: var(--white);
	font-family: var(--font-noto-sans), sans-serif;
}

h3 {
	color: var(--lighter-blue);
	font-family: var(--font-space-mono), monospace;
	font-weight: 400;
}

ol {
	color: var(--white);
	font-family: var(--font-space-mono), monospace;
	font-weight: 400;
}

.extra-info {
	color: var(--lighter-blue);
}

.close-word-menu {
	padding: 5px;
	margin-bottom: 16px;
	float: right;
	background-color: transparent;
	color: var(--yellow);
	font-size: 40px;
	font-family: Arial;
}

.save-word-button{
	height: 40px;
	padding: 10px;
	font-size: 14px;
	background: var(--pink);
	display: flex;
	align-items: center;
}

.save-icon{
	padding-right: 10px;
}
